body {
  width: 100%;
}

header {
  background-image: url(../images/hero_image.jpg);
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PF_logo {
  width: 80%;
  max-width: 800px;
}

main {
  background-image: url(../images/background_tile.jpg);
  background-repeat: repeat;
  font-family: 'bebas neue';
  padding-top: 5em;
}

.button {
  background-color: #312B24;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-family: 'bebas neue';
  font-size: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button:hover {
  background-color: #FFFFFF;
  color: #FD7639;
}

.day-wrapper {

}

.days {
  display: flex;
  justify-content: space-evenly;
  background-color: #FD7639;
}

.friday {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 4em;
  padding-bottom: .5em;
}

.saturday {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  font-size: 4em;
  padding-top: .5em;
}

.lineup {
  font-size: 2em;
  text-align: center;
  margin: 90px 200px 0px 200px;
}

.buy-tickets {
  background-color: #FFFFFF;
  color: #312B24;
  font-size: 3em;
  padding: 14px 40px;
  border: 10px solid #FD7639;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
}

.buy-tickets:hover {
  background-color: #312B24;
  color: white;
  }

footer {
  background-color: #312B24;
}

.footer-logo {
  max-width: 20em;
  padding: 2em 2em 2em 15em;
  display: flex;
  justify-content: ;
}

@media only screen and (max-width: 920px){
  .friday {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0em;
  }
  .saturday {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0em;
  }
}

@media only screen and (max-width: 540px){
  .friday {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0em;
  }
  .saturday {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0em;
  }
}