body {
  width: 100%;
}

header {
  background-image: url(../images/hero_image.jpg);
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PF_logo {
  width: 80%;
  max-width: 800px;
}

main {
  background-image: url(../images/background_tile.jpg);
  background-repeat: repeat;
  font-family: 'bebas neue';
  padding-top: 5em;
  padding-bottom: 5em;
}

.button {
  background-color: #312B24;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-family: 'bebas neue';
  font-size: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #FFFFFF;
  color: #FD7639;
}

.days {
  display: flex;
  justify-content: space-evenly;
  background-color: #FD7639;
}

.friday-artist-1, .saturday-artist-1, .sunday-artist-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 4em;
  padding-bottom: .5em;
}

.friday-artist-2, .saturday-artist-2, .sunday-artist-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  font-size: 4em;
  padding-bottom: .5em;
}

.hide {
  display: none;
}

.artist {
  padding: 1em 1em 1em 1em;
}

.lineup {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.buy-tickets {
  background-color: #FFFFFF;
  color: #312B24;
  font-size: 3em;
  padding: 14px 40px;
  border: 10px solid #FD7639;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.buy-tickets:hover {
  background-color: #FD7639;
  color: white;
  }

footer {
  background-color: #312B24;
}

.footer-logo {
  max-width: 20em;
  padding: 2em 2em 2em 15em;
  display: flex;
  justify-content: left;
}

.social-icon {
  max-width: 20em;
  padding: 2em 2em 2em 15em;
  display: flex;
}

@media only screen and (max-width: 920px){
  .friday-artist-1, .friday-artist-2, .saturday-artist-1, .saturday-artist-2, .sunday-artist-1, .sunday-artist-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .days {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 540px){
  .friday-artist-1, .friday-artist-2, .saturday-artist-1, .saturday-artist-2, .sunday-artist-1, .sunday-artist-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .days {
    display: flex;
    flex-direction: column;
  }
}