body {
  width: 100%;
}

header {
  background-image: url(../images/hero_image.jpg);
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PF_logo {
  width: 80%;
  max-width: 800px;
}

main {
  background-image: url(../images/background_tile.jpg);
  background-repeat: repeat;
  font-family: 'bebas neue';
  padding-top: 5em;
  padding-bottom: 3em;
}

.button {
  background-color: #312B24;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-family: 'bebas neue';
  font-size: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #FFFFFF;
  color: #FD7639;
}

.lineup {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.buy-tickets {
  background-color: #FFFFFF;
  color: #312B24;
  font-size: 3em;
  padding: 14px 40px;
  border: 10px solid #FD7639;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.buy-tickets:hover {
  background-color: #FD7639;
  color: white;
  }

.contact-form {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.form-content {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.form-field {
  display: flex;
  justify-content: center;
}

.contact-form--wrap {
  background:#FFFFFF;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}

.close-form {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  font-size: 20px;
}


.hide {
  display: none!important; /* this is a failsafe incase things go crazy! */
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 10px;
}

input[type=submit] {
  background-color: #FD7639;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFFFF;
  color: #312B24;
}

.container {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 20px;
}

footer {
  background-color: #312B24;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.footer-col {
  display: inline-block;
  padding: 0 1rem;
}

.footer-logo {
  max-width: 20em;
}

.social-icon {
  width: 75px;
  padding: 0 1rem;
}

.days {
  display: flex;
  flex-direction: column;
}

.friday-artist-1, .friday-artist-2, .saturday-artist-1, .saturday-artist-2, .sunday-artist-1, .sunday-artist-2 {
  display: flex;
  flex-direction: column;
  font-size: 4em;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.artist {
  padding: 0;
}

/* Tablet */
@media only screen and (min-width: 921px) {
  .friday-artist-1, .saturday-artist-1, .sunday-artist-1 {
    flex-direction: row;
    padding-bottom: .5em;
  }
  
  .friday-artist-2, .saturday-artist-2, .sunday-artist-2 {
    flex-direction: row-reverse;
    text-align: center;
    font-size: 4em;
    padding-bottom: .5em;
  }

  .days { 
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FD7639;
  }

  .artist {
    padding: 1em;
  }
}

/* Desktop */
@media only screen and (min-width: 541px) and (max-width: 920px) {
  .friday-artist-1, .friday-artist-2, .saturday-artist-1, .saturday-artist-2, .sunday-artist-1, .sunday-artist-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0em;
  }

  .days {
    display: flex;
    flex-direction: column;
  }

  .artist {
    padding: 0em;
  }
}
